# ignoring Python 3.x bytecode
__pycache__/
cnvfinder.egg-info
# ignoring files with the following extensions
*.bam
*.bai
*.bed
*.idx
*.txt
*.html
*.vcf
*.gz
*.tbi
*.sh

# ignoring folders
test
img
build
dist

# ignoring files
config.ini
